<form id='form'>
  <div>
    <label for='name'>Name</label>
    <input type='text' name='name' id='name' />
  </div>
  <div>
    <label for='lastName'>Last Name</label>
    <input type='text' name='lastName' id='lastName' />
  </div>
  <div>
    <label for='age'>Age</label>
    <input type='number' name='age' id='age' />
  </div>
  <div>
    <label for='email'>Email</label>
    <input type='email' name='email' id='email' />
  </div>
  <button type='submit'>Submit</button>
</form>

<script src='/js/createUser.js'></script>